body{

    padding: 20px;
}

header {

    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
 
}

div ul li {
display: inline;
}

.HeaderOage{

    padding: 20%;
}


.FrontDev{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

section h2 {
    margin: 0;
    font-size: 40px;
}


.Project-Work-Education { 

    display: flex;
    gap: 10px;

}

.Project-Work-Education div { 
    flex: 1;

    height: 600px;
}

.Reviews { 


    height: 500;
}


.projects {
    flex-direction: column;
    display: flex;
    gap: 1px
}

.projects div { 
    flex :1;

    height: 40px;
}

.projec1,
.projec2,
.projec3,
.projec4,
.projec5 {

    padding-left: 10px;
    padding-right: 10px;
 
}

.work{
    padding-left: 10px;
    padding-right: 10px;
    gap: 1px;
    display: flex;
    flex-direction: column;
}

.work div{
    flex: 1;

}

h2{
    font-size: 2cm;
}